<!-- Sprint card -->
<div class="row">
  <div class="col-lg-4 col-md-6 col-12" *ngFor="let sprint of sprints">
    <div class="card card-sprint mb-4">
      <div class="card-header">
        <h4 class="card-title">{{ sprint.nomSprint }}</h4>
        <i data-feather="more-vertical" class="font-medium-3 cursor-pointer d-none"></i>
      </div>
      <div class="card-body">
        <div class="sprint-item">
          <div class="media">
            <div class="avatar bg-light-primary rounded">
              <div class="avatar-content">
                <i data-feather="activity" class="avatar-icon font-medium-3"></i>
              </div>
            </div>
            <div class="media-body">
              <p class="sprint-description">{{ sprint.objectifSprint }}</p>
              <p class="sprint-date">
                Début du Sprint: <span class="sprint-date-highlight">{{ sprint.dateDebutSprint | date: 'd MMMM yyyy' }}</span>
              </p>
              <p class="sprint-date">
                Fin du Sprint: <span class="sprint-date-highlight">{{ sprint.dateFinSprint | date: 'd MMMM yyyy' }}</span>
              </p>
              <div class="font-weight-bolder text-primary mb-2 sprint-state">
                {{ sprint.etatSprint }}
              </div>
            </div>
          </div>
          <div class="button-container mt-3">

            <button class="btn btn-primary" (click)="showSprintBacklogs(sprint.idSprint)">Afficher les Backlogs</button>
            <button class="btn btn-primary" (click)="ouvrirFormulaireUpdate(sprint.idSprint)">Modifier</button>
     
            <span class="delete-icon" (click)="supprimerSprint(sprint.idSprint)">X</span>
            
            



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Sprint card -->
