/* SCSS */
.card-tache {
    .tache-item {
      margin-bottom: 20px;
      border: 1px solid #e1e5eb;
      padding: 15px;
      border-radius: 8px;
      transition: box-shadow 0.3s ease;
  
      &:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      }
  
      .media {
        margin-bottom: 10px;
  
        .avatar {
          background-color: #f4f5f8;
          margin-right: 15px;
  
          i {
            color: #39485e;
          }
        }
  
        .media-body {
          h6 {
            font-size: 16px;
            margin-bottom: 5px;
          }
  
          small {
            color: #6b7c93;
          }
        }
      }
  
      button {
        background-color: #7367f0;
        color: #fff;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #574feb;
        }
      }
    }

  }
  
  /* Ajoutez ces styles pour positionner et styliser le "X" */
  .delete-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    transition: color 0.3s ease;
  }
 
  .delete-icon:hover {
    color: red;
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center; // Pour centrer verticalement les éléments
  }
  
  .nom-dev {
    font-size: 1.3rem; /* Taille de la police */
    color: red; /* Couleur du texte */
    margin-left: 4cm; /* Ajustement de la marge pour déplacer le nom vers la gauche */
  }
  

