<div class="modal-dialog sidebar-lg">
  <div class="modal-content p-0">

    <div class="modal-header mb-1">
      <h5 class="modal-title">Event</h5>
    </div>
    <div class="modal-body flex-grow-1 pb-sm-0 pb-3">
      <form class="event-form needs-validation" (ngSubmit)="(eventForm.form.valid); eventForm.reset()" #eventForm="ngForm">
        <div class="form-group">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="titre_Reunion" name="titre_Reunion"
            placeholder="newEvent titre_Reunion" required [(ngModel)]="newEvent.titre_Reunion"
            [class.error]="eventForm.submitted && formNameRef.invalid" #formNameRef="ngModel" />
          <span *ngIf="eventForm.submitted && formNameRef.invalid" class="invalid-form">
            <small class="form-text text-danger" *ngIf="formNameRef.errors.required">This field is required!</small>
          </span>
        </div>
        <div class="form-group">
          <label for="dateDebutReunion" class="form-label">Date de début de la réunion</label>
          <ng2-flatpickr [config]="dateTimeOptions" [(ngModel)]="date1" id="dateDebutReunion" name="dateDebutReunion"></ng2-flatpickr>
        </div>
        
        <div class="form-group">
          <label for="dateFinReunion" class="form-label">Date de fin de la réunion</label>
          <ng2-flatpickr [config]="dateTimeOptions" [(ngModel)]="date2" id="dateFinReunion" name="dateFinReunion"></ng2-flatpickr>
        </div>
        


        <div class="form-group">
          <label for="location" class="form-label">lieu_Reunion</label>
          <input type="text" class="form-control" id="lieu_Reunion" name="lieu_Reunion" placeholder="Event lieu_Reunion"
            required [(ngModel)]="newEvent.lieu_Reunion" #location="ngModel" />
          <span *ngIf="eventForm.submitted && location.invalid" class="invalid-form">
            <small class="form-text text-danger" *ngIf="location.errors.required">This field is required!</small>
          </span>
        </div>
        <div class="form-group">
          <label for="priority" class="form-label">Description du Reunion</label>
          <input type="text" class="form-control" id="priorite_Reunion" name="priorite_Reunion"
            placeholder="Event priorite_Reunion" required [(ngModel)]="newEvent.priorite_Reunion" #priority="ngModel" />
          <span *ngIf="eventForm.submitted && priority.invalid" class="invalid-form">
            <small class="form-text text-danger" *ngIf="priority.errors.required">This field is required!</small>
          </span>
        </div>
        <select id="selectedUsers" name="selectedUsers" [(ngModel)]="selectedUserNames" multiple>
          <option *ngFor="let user of users" [value]="user">{{ user }}</option>
        </select>
        
        

        <div class="text-center">
          <button type="submit" class="btn btn-primary add-event-btn mr-1" (click)="addEvent()" rippleEffect>
            ajouter
          </button>
        </div>
        <div class="text-center">
          <button class="btn btn-primary add-event-btn mr-1"(click)="redirigerVersListeSprints()">Reunion</button>
          
          
        </div>

        <ng-template #addEventRef>
          <button type="submit" class="btn btn-primary update-event-btn mr-1" (click)="updateEvent()" rippleEffect>
            Update
          </button>
        </ng-template>
      </form>
    </div>
  </div>
</div>
